.sidebar {
  display: flex;
  flex: 0.25;
  height: 100vh;
  background-color: rgb(255, 255, 255);

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(146, 107, 163);
    padding: 7px 15px;
    
    .serverIcon {
      width: 55px;
      height: 55px;
      background-color: rgb(249, 249, 249);
      border-radius: 9999px;
      margin-bottom: 10px;
      position: relative;
      margin-top: 8px;
      
      img {
        position: absolute;
        width: 50px;
        top: 50;
        left: 50;
        transform: translate(5%, 5%);
      }
    }
  }

  .sidebarRight {
    background-color: rgb(237, 214, 246);
    width: 300px;
    position: relative;
    flex-grow: 1;

    .sidebarTop {
      color: rgb(146, 107, 163);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    .sidebarChannels {
      padding: 15px;

      .sidebarChannelsHeader {
        color: rgb(146, 107, 163);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        .sidebarHeader {
          display: flex;
        }
        
        .sidebarAddIcon {
          cursor: pointer;
        }
      }
    }

    .sidebarFooter {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      padding-bottom: 10px;
      border-top: 1px solid rgb(146, 107, 163);
      padding-top: 10px;
      margin-left: -3px;

      .sidebarAccount{
        display: flex;
        align-items: center;

        img {
          width: 30px;
        }

        .accountName {
          margin-left: 5px;

          h4 {
            color: white;
            font-weight: 500;
          }

          span {
            color: rgb(146, 107, 163);
          }
        }
      }

      .sidebarVoice {
        display: flex;
        align-items: center;
        color: rgb(146, 107, 163);
      }
    }
  }
}